# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_WAVESHARE_NRF52840EVK

config BOARD
	default "waveshare_nrf52840evk"

config BT_CTLR
   default BT

endif
